
<p><%= user.first_name %> <%= user.last_name %></p>
<p>Age: <%= user.age %></p>
<p>Biography: <%= user.profile_bio %></p>
<p>Home Gym: <%= user.gyms.name %></p>


<% if user.preference && ( user.preference.user_id == current_user.id ) %>
  <p>Prefered Flexmate's age range: "add ages from preferences list"</p>
  <p>Prefered Flexmate's gender: "add once created" </p>
<% end %>


