<% if user == current_user %>
  <h2> Welcome <%= user.first_name %> <%= user.last_name %></h2>

  <% if user.avatar %>
    <%= image_tag user.avatar.url(:square) %>
  <% end %>

  <p>Your Age: <%= user.age %></p>
  <p>Home Gym: <%= user.gyms.name %></p>
  <p>Gender Pronoun: <%= user.gender_pronoun  %> </p>
  <p>Your current bio: <%= user.profile_bio %></p>

  <a id ="edit-info" href="">Edit Personal Information</a><br>
  <div id="bringFormHere">
    <a id="pic-upload" href="<%= profile_load_path %>">Upload Profile Picture</a>
  </div>

  <h3>Your flexmate preferences: </h3>
  <% if user.preference == nil %>
      <%= link_to "Add Preferences",  new_preference_path, id: "new-pref" %>
  <% else %>
  <p>Your prefered Flexmate's age range: <%= user.preference.min_age %> - <%= user.preference.max_age %></p>
  <p>Your prefered Flexmate's gender: <%= user.preference.gender %> </p>
    <%= link_to "Update Preferences", edit_preference_path(current_user.preference.id), id:"update-pref" %>
  <% end %>
<% end %>


<% if user != current_user %>
  <p><%= user.first_name %> <%= user.last_name %></p>
  <% if user.avatar %>
    <%= image_tag user.avatar.url(:square) %>
  <% end %>
  <p>Age: <%= user.age %></p>
  <p>Home Gym: <%= user.gyms.name %></p>
  <p>Gender Pronoun: <%= user.gender_pronoun  %> </p>
  <p>Bio: <%= user.profile_bio %></p>

  <div class="friend">
      <% if user != current_user && current_user.friends.include?(user)%>

      <p><%= link_to "Unfriend", unfriend_path(user), class: "buttonize unfriend", method: :delete %></p>

      <% elsif user != current_user && (current_user.all_friends.include?(user) && current_user.request_sent.include?(user)) %>
      <p>Friend Request Sent</p>
      <p><%= link_to "Cancel Friend Request", friendship_path(user), class: "buttonize cancel", method: :delete %></p>
      <% elsif user != current_user && current_user.request_received.include?(user) %>
      <p><%= link_to "Accept", accept_friend_path(user), class: "buttonize", method: :post %> / <%= link_to "Deny", deny_friend_path(user), class: "buttonize", method: :delete %> Friendship</p>

      <% elsif user != current_user && current_user.all_friends.exclude?(user) %>
      <p><%= link_to "Add Friend", friendships_path(user), class: "buttonize-add", id: "add", method: :post %></p>
      <% end %>
  </div>
<% end %>
