<%= form_for @preference do |f| %>
  <div class="field">
    <%= f.label :min_age %><br />
    <%= f.number_field :min_age, ihtml: { min: 18 }%>
  </div>

  <div class="field">
    <%= f.label :max_age %><br />
    <%= f.number_field :max_age, html: { min: 18 }, html: { max: 99 }%>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, ['Any','He/Him', 'She/Her'] %>
  </div>

  <div class="actions">
    <%= f.submit "Save Preferences" %>
  </div>


<% end %>
